@import '../../styles/common/mixins.scss';
@import '../../styles/common/vars.scss';

.au-tag-list{
  @include flex-row-center;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 60px;
  .tag-element {
    border-radius: 7px;
    padding-left: 20px;
    padding-right: 20px;
    height: 24px;
    background-color: rgba($primary-3, 1);
    margin-right: 20px;
    font: {
      size: 14px;
      weight: 300;
    }
    color: $white;
    line-height: 24px;
    text-align: center;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}