@import '../../styles/common/mixins.scss';
@import '../../styles/common/vars.scss';

.social-links{
  @include flex-row-center;
  .social-links-element{
    margin-right: 20px;
    @media #{$sm}{
      margin-right: 40px;
    }
    .au-a{
      .aurea-font{
        font-size: 32px;
      }
    }
    &:last-of-type{
      margin-right: 0px;
    }
  }
}