$black: #000000;
$white: #ffffff;
$grey: #F5F5F5;
$primary-1: #E6B9C5;
$primary-2: #76C1DE;
$primary-3: #1D5DA5;
$primary-4: #9F7FAE;
$secondary-1: #F6FCFF;
$secondary-2: #4A5157;
$secondary-3: #C1C3C3;

$border: #A8BCBD;

$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";