@import '../../styles/common/mixins.scss';
@import '../../styles/common/vars.scss';

.slider{
  width: 100%;
  position: relative;
  &.phrases{
    height: 60vh;
    .slider-element{
      .slider-article{
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &.active{
          display: block;
          opacity: 1;
        }
        .slider-article-description{
          display: block;
          position: relative;
          line-height: 60vh;
          margin: 0 auto;
          text-align: center;
          font: {
            size: 40px;
            weight: 300;
          }
          color: $primary-3;
          @media #{$sm}{
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }
  &.cards{
    width: 65%;
    @include flex-row-center;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    @media #{$sm}{
      width: 100%;
    }
    &::before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 250px;
      background-color: $primary-3;
      @media #{$sm}{
        left: 0px;
      }
    }
    .slider-element{
      margin-left: 40px;
      @media #{$sm}{
        opacity: 0.25;
        position: absolute;
        left: 40px;
        top: -40px;
        z-index: 0;
        &.active{
          top: initial;
          margin-right: calc(50% - 150px);
          left: initial;
          position: relative;
          opacity: 1;
          z-index: 1;
        }
      }
      &:last-of-type{
        margin-left: 0px;
      }
      .slider-article{
        position: relative;
        border-radius: 40px;
        background-color: gray;
        width: 400px;
        height: 500px;
        background: {
          position: center;
          repeat: no-repeat;
          size: cover;
          color: $gray;
          blend-mode: multiply;
        }
        @media #{$sm}{
          width: 300px;
        }
        &.active{
          .slider-article-description{
            opacity: 1;
            display: block;
          }
        }
        .slider-article-description{
          width: 50%;
          opacity: 0;
          display: none;
          position: absolute;
          text-align: left;
          left: 40px;
          bottom: 40px;
          font: {
            size: 48px;
            weight: 500;
          }
          color: white;
          @media #{$sm}{
            width: 100%;
          }
        }
      }
    }
  }
  &.cards.phone{
    width: 100%;
    @include flex-row-center;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    @media #{$sm}{
      padding-top: 80px;
    }
    &:before{
      display: none;
    }
    .slider-controllers{
      width: 400px;
    }
    .slider-element{
      margin-left: 0px;
      @media #{$sm}{
        position: relative;
        left: initial;
        top: initial;
        opacity: 1;
      }
      .slider-article{
        position: relative;
        border-radius: 40px;
        background-color: gray;
        width: 400px;
        height: 700px;
        background: {
          position: center;
          repeat: no-repeat;
          size: cover;
          color: $gray;
          blend-mode: multiply;
        }
        opacity: 0;
        display: none;
        @media #{$sm}{
          overflow: hidden;
        }
        &.active{
          opacity: 1;
          display: block;
          @media #{$sm}{
            opacity: 1;
          }
        }
        .slider-article-title{
          width: calc(100% - 80px);
          position: absolute;
          text-align: left;
          left: 40px;
          bottom: 120px;
          font: {
            size: 40px;
            weight: 300;
          }
          line-height: 48px;
          color: white;
        }
        .au-avatar{
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background: {
            color: $white;
            size: cover;
            position: center;
            repeat: no-repeat;
          }
          margin-right: 20px;
        }
        .slider-article-description{
          content: '';
          display: block;
          position: absolute;
          left: 400px;
          top: calc(50% - 150px);
          width: 100%;
          height: 300px;
          padding: 20px 20px 20px 20px;
          background-color: $primary-1;
          @include flex-col-center;
          font: {
            size: 24px;
            weight: 500;
          }
          line-height: 40px;
          color: white;
          @media #{$sm}{
            position: relative;
            top: initial;
            left: initial;
            height: auto;
            background-color: rgba($primary-1, 0.75);
            text-align: center;
            margin-top: 40px;
          }
        }
        .au-buttons-phone{
          @include flex-row-center;
          position: absolute;
          bottom: 20px;
          left: 20px;
          margin-right: 20px;
          &:last-of-type{
            margin-right: 0px;
          }
          i {
            width: 50px;
            height: 50px;
            @include flex-row-center;
            justify-content: flex-start;
            font-size: 36px;
            color: $white;
          }
        }
      }
    }
  }
  .slider-controllers{
    position: absolute;
    height: 50px;
    width: 100%;
    .nav-list{
      height: 100%;
      width: 100%;
      @include flex-row-center;
      justify-content: space-between;
      .nav-list-element{
        @include flex-row-center;
        height: 100%;
        width: 50px;
        cursor: pointer;
        font-size: 36px;
        color: $white;
        &.back{
          transform: rotate(180deg);
        }
      }
    }
  }
}